* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*================================================================================================*/
/*Beginning of Global Styles*/
/*================================================================================================*/

body {
    font-family: Raleway,"Sama Gurmukhi", sans-serif;
    height: 100%;
    background-color: white;
    margin: 0;
}

title{
    font-family: Raleway, sans-serif;
}

/* Header Styles */
/*holds logo*/
.header-div {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
}

.logo img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    margin: 0;
}

.toggle-button {
    display: none;
    flex-direction: column;
    height: 21px;
    justify-content: space-between;
    width: 30px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Header Styles */
header {
    background-color: #3b3b3b;
    color: navajowhite;
    padding: 10px;
}

.logo img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b3b3b;
    color: white;
}

.navbar-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    padding: 15px 20px;
    transition: transform 0.3s ease;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}


.navbar-links li:hover, .navbar-links a:hover {
    transform: scale(1.1);
    color: #FF2E01;
}

.toggle-button {
    display: none;
    flex-direction: column;
    height: 21px;
    justify-content: space-between;
    width: 30px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .toggle-button {
        display: flex;
        margin-left: 15px;
        margin-top: 5px;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        cursor: pointer;
        position: relative;
        z-index: 1000;
    }

    .navbar-links {
        display: none;
        position: absolute;
        margin-top: 0;
        left: 15px;
        flex-direction: column;
        background-color: rgba(59, 59, 59, 0.95);
        z-index: 1001;
        padding: 20px 0;
        border-radius: 5px;
    }

    .navbar-links ul {
        width: auto;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
    }

    .logo h1 {
        font-size: larger;
        text-align: left;
    }
    .logo img {
        width: 60px;
    }

    .main-content #intro-title-paragraph h1 {
        font-size: 2em;
    }
}

/* Main Content Styles */
.main-content {
    padding: 0px 0;
    text-align: center;
    min-height: 100%;
    margin-bottom: -50px;
}
.main-content:after{
    content: "";
    display: block;
}

.footer, .main-content:after{
    height: 50px;
}

.footer{
    background-color: #3b3b3b;
    color: navajowhite;
    text-align: center;
    line-height: 50px;
}
footer p {
    background-color: #3b3b3b;
}

.navbar-footer{
    background-color: #3b3b3b;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}

.navbar-footer a{
    display: block;
    color: navajowhite;
    text-decoration: none;
}
.navbar-footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-footer li {
    padding: 14px 16px;
}
.navbar-footer img {
    height: auto;
    width: auto;
    max-height: 2em;
    max-width: 2em;
}

@media screen and (max-width: 768px) {
    .navbar-footer li {
        flex: 1 1 100%;
        height: auto;
    }
}

.navbar-footer a:hover{
    color: navajowhite;
}

.main-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.main-content p {
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: navajowhite;
    color: #3b3b3b;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #ff4740;
}



/*================================================================================================*/
/*End of Global section*/
/*================================================================================================*/

/*================================================================================================*/
/*Beginning of Index section*/
/*================================================================================================*/

#intro-title-paragraph {
    width: 100%;
    margin: 0 auto;

    padding: 0 1vw;
    background-color: white;
    color: #333;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 100%),
    url('compressedPhotos/firefighterInSmoke Large.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 5px;
    min-height: 650px;
}

#introParagraph {
    color: navajowhite;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 30px 7vw;
    position: relative ;
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

#introParagraph:before,
#introParagraph:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 0px; /* Thin line */ /* made it 0 to get rid of line for now */
    background-color: #ff0000;
    transition: all 0.3s ease;
}

#introParagraph:before {
    top: -10px;
}

#introParagraph:after {
    bottom: -10px;
}

#introParagraph:hover:before,
#introParagraph:hover:after {
    background-color: #ff6347;
}


#introParagraph:hover {
    text-shadow: 4px 4px 8px rgba(94, 84, 35, 0.7);
}

#backgroundphoto {
    background-image: url("compressedPhotos/firefighterInSmoke Large.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 100;
}

#backgroundphotoH1 {
    color: navajowhite;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    margin: 20px 12vw;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

#backgroundphotoH1:hover{
    text-shadow: 4px 4px 8px rgba(94, 84, 35, 0.7);

}

.mini-gallery-background {
    border-radius: 5px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 100%),
    url('compressedPhotos/americanflag.jpeg');

}

#mini-gallery-title h1 {
     color: #ffe1b4;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .3) 50%, rgba(0, 0, 0, 0) 100%);
    text-align: center;
    border-radius: 10px;
    margin: 2vw 2vw;

    border-bottom: 5px solid #8f7e6a;
    border-top: 5px solid #8f7e6a;
    padding: 20px 3px 3px 20px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);

}

.events-slideshow-container {
    position: relative;
    max-width: 90%;
    margin: auto;
    overflow: hidden;
    max-height: 500px;
}

.event-slide {
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: red;
    max-height: min-content;
}

.img-event-slide {
    width: 55%;
    /*padding: 20px;*/
    float: left;
    max-height: 400px;
    min-height: 400px;
    max-width: 55%;
}
.img-event-slide img {
    min-height: 400px;
    max-width: 55%;
    object-fit: contain;
}

#chili-cookoff-img {
    transform: translateY(-40px);
}
#burn-camp-img {
    transform: translateY(-40px);
}

.caption-event-slide {
    width: 40%;
    padding: 20px;
    text-align: Left;
    float: left;
    max-height: min-content;
    cursor: pointer;
    user-select: none;
}

.caption-event-slide h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: "Ubuntu", Raleway, serif;
}

.caption-event-slide p {
    font-size: 1em;
    line-height: 1.5;
    color: #5C5C5C;
}

.previous-slide {
    left: 10px;
}
.next-slide{
    right: 10px;
}

#prev-button-ontop {
    display: none;
}
#next-button-ontop {
    display: none;
}

.previous-slide:hover, .next-slide:hover {
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
    user-select: none;
}

.fade {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#events-slideshow-heading {
    color: navajowhite;
    text-align: center;
    border-radius: 10px;
    margin: 2vw 2vw;
    border-bottom: 5px solid #8f7e6a;
    border-top: 5px solid #8f7e6a;
    padding: 20px 3px 3px 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 768px){
    .events-slideshow-container{
        height: 100%;
        margin: 10px;
        width: 95%;
        display: table;
    }
    .img-event-slide{
        height: 50%;
        max-height: 50%;
        min-height: 50%;
        min-width: 100%;
    }
    .img-event-slide img {
        object-fit: cover;
        min-height: 100%;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
    }
    .caption-event-slide{
        height: 50%;
        width: 100%;
    }
    .caption-event-slide h3 {
        text-align: center;
    }
    #prev-button-onbottom {
        display: none;
    }
    #next-button-onbottom {
        display: none;
    }
    #next-button-ontop {
        display: inline-grid;
    }
    #prev-button-ontop {
        display: inline-grid;
    }
    #chili-cookoff-img {
        transform: none;
    }
    #burn-camp-img {
        transform: none;
    }
}


.mini-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 250px;
    gap: 10px;
    width: 90%;
    margin: 20px auto 0;
    padding-bottom: 20px;
}

.mini-gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform .3s ease-in-out;
}

.mini-gallery img:hover{
    transform: scale(1.1);
}

.boxaboutUs {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: white;
}

@media (max-width: 768px) {
    #introParagraph {
        font-size: large;
    }

    #backgroundphotoh1 h1{
        font-size: 10px;
    }
}

/*================================================================================================*/
/*end of index section*/
/*================================================================================================*/

/*================================================================================================*/
/*beginning of About Us section*/
/*================================================================================================*/



.aboutus{
    width: 90%;
    margin: 0 auto;
    padding: 0 1vw;
    background-color: white; /*was ff4740*/
    color: #333;
}
.aboutus h1 {
    padding-top: 20px;
}

#about-page-info h1, h2 {
    padding-top: 2vh;
    color: #5C5C5C;
}



/*================================================================================================*/
/*end of About Us section*/
/*================================================================================================*/

/*================================================================================================*/
/*Beginning of Peer Support section*/
/*================================================================================================*/

.peerSupportTitle{
    color: #5C5C5C;
    margin-right: 20px;
    margin-left: 20px;
}

.peerSupportTitle h1 {
    padding-top: 20px;
}

.PeerSupportMembers h3 {
    border-bottom: 2px solid currentColor;
    line-height: 1.2;
    padding-bottom: 4px;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-bottom: 10px;
}

.PeerSupportMembers img{
    height: auto;
    width: auto;
    max-width: 125px;
    max-height: 150px;
    border-radius: 10%;
}

.horizontal-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.horizontal-list li {
    margin-right: 10px;
    font-size: 18px;
}

.horizontal-list li:last-child {
    margin-right: 0;
}

@media (max-width: 900px) {
    .horizontal-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        justify-items: center;
    }

    .horizontal-list li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .horizontal-list li:nth-child(2n) {
        margin-right: 0;
    }

    .PeerSupportMembers h3 {
        margin-left: 15%;
        margin-right: 15%;
    }
}

.peerSupportResources {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.peerSupportItem {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.peerSupportItem:hover {
    transform: scale(1.05);
}

.peerSupportItem h3 {
    margin-top: 0;
}

.peerSupportItem p {
    margin: 0;
}

.peerSupportItem a {
    color: #007BFF;
    text-decoration: none;
}

.peerSupportItem a:hover {
    text-decoration: underline;
}

/*================================================================================================*/
/*end of Peer Support section*/
/*================================================================================================*/

/*================================================================================================*/
/*Start of recruitment section*/
/*================================================================================================*/

.hiringInformation {
    background-color: white;
    display: flex;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#hiringVideo, #hiringSalaries {
    width: 48%;
    box-sizing: border-box;
    flex: 1;
}

#hiringVideo iframe{
    width: 95%;
    aspect-ratio: 1/1;
    border-radius: 5%;
}

#hiringVideo h1 {
    border-bottom: 2px solid currentColor;
    line-height: 1.2;
    padding-bottom: 4px;
    margin: 10px;
    color: #5C5C5C;
}
#hiringVideo h2 {
    color: black;
}

#hiringSalaries img {
    height: 50%;
    width: 70%;
    border-radius: 5%;
}

#hiringSalaries h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    text-decoration: underline;
    color: #5C5C5C;
}

#hiringSalaries h2{
    text-align: center;
    margin-top: 0;
    color: black;
}

#lean-more-button {
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    .hiringInformation {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    #hiringVideo, #hiringSalaries {
        width: 90%;
        margin: 10px auto;
        max-width: 100%;
    }

    #hiringVideo iframe, #hiringSalaries img {
        width: 100vw;
        height: auto;
        border-radius: 5%;
        max-width: 100%;
    }
}
/*================================================================================================*/
/*end of recruitment section*/
/*================================================================================================*/

/*================================================================================================*/
/*Beginning of Leadership section*/
/*================================================================================================*/


.leadershipGallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#leadership-title {
    color: #5C5C5C;
    position: relative;
    margin: 20px 7vw;
    text-align: center;
}

#leadership-title:before,
#leadership-title:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ff0000;
    transition: all 0.3s ease;
}

#leadership-title:before {
    top: -10px;
}

#leadership-title:after {
    bottom: -10px;
}

#leadership-title:hover:before,
#leadership-title:hover:after {
    background-color: #ff6347;
}

.president{
    margin-bottom: 20px;
    margin-top: 20px;
}

.vp-treasurer {
    display: flex;
    justify-content: center;
    gap: 250px;
}

.vp-treasurer p{
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.vp-treasurer h2{
    white-space: nowrap;
}

.vp-treasurer > div {
    flex: 1;
}

.leadershipGallery img {
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10%;
    transition: transform .3s ease-in-out;
}

.leadershipGallery img:hover{
    transform: scale(1.1);
}

@media (max-width: 700px) {
    .vp-treasurer {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .vp-treasurer > div {
        margin-bottom: 20px;
    }
}

/*================================================================================================*/
/*end of Leadership section*/
/*================================================================================================*/

/*================================================================================================*/
/*Beginning of Gallery section*/
/*================================================================================================*/


.Gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 250px;
    gap: 10px;
    width: 90%;
    margin: 20px auto;
}

.Gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform .3s ease-in-out;
}

.Gallery img:hover{
    transform: scale(1.1);
}

/*================================================================================================*/
/*end of Gallery section*/
/*================================================================================================*/
