* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*================================================================================================*/
/*Beginning of Global Styles*/
/*================================================================================================*/

body {
    font-family: Raleway,"Sama Gurmukhi", sans-serif;
    height: 100%;
    background-color: white; /*was navajowhite*/
    margin: 0;
    /* added margin 0, hieght 100%, removed line-height 1.6*/
}

title{
    font-family: Raleway, sans-serif;
}

/*holds logo*/
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
}

/* Header Styles */
header {
    background-color: #3b3b3b; /*was #333*/
    color: navajowhite;
    padding: 10px;
}

.logo img {
    width: 100px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b3b3b;
    color: white;
}

.navbar-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    padding: 15px 20px;
    /*added for hover effect*/
    transition: transform 0.3s ease; /*smooth transition for scaling*/
}

.navbar-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease; /*smooth color for transition*/
}

/*added for hover effect*/
/* Hover effects for list items and links */
.navbar-links li:hover, .navbar-links a:hover {
    transform: scale(1.1); /* Makes the text bigger */
    color: #FF2E01; /* Changes the text color */
}

.toggle-button {
    display: none;
    flex-direction: column;
    height: 21px;
    justify-content: space-between;
    width: 30px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Main Content Styles */
.main-content {
    padding: 0px 0;
    text-align: center;
    min-height: 100%;
    margin-bottom: -50px;
}
.main-content:after{
    content: "";
    display: block;
}

.footer, .main-content:after{
    height: 50px;
}

.footer{
    background-color: #3b3b3b;
    color: navajowhite;
    text-align: center;
    line-height: 50px;
}
footer p {
    background-color: #3b3b3b;
}

.navbar-footer{
    background-color: #3b3b3b; /* Dark background for the navbar */
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}

.navbar-footer a{
    display: block;
    color: navajowhite;
    text-decoration: none;
}
.navbar-footer ul{
    list-style-type: none; /* Removes default list bullets */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-footer li {
    padding: 14px 16px;
}
.navbar-footer img {
    height: auto;
    width: auto;
    max-height: 2em;
    max-width: 2em;
}

@media (max-width: 800px) { /*was 768px*/
    .navbar-footer li {
        flex: 1 1 100%;
        height: auto;
    }
}

.navbar-footer a:hover{
    /*background-color: #ff4740;*/
    color: navajowhite;
}

.main-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.main-content p {
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: navajowhite; /*was ff4740*/
    color: #3b3b3b;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #ff4740;
}


@media (max-width: 800px) {
    .toggle-button {
        display: flex;
        margin-left: 15px;
        margin-top: 5px;
    }

    .navbar-links {
        display: none;
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
    }

    .logo h1 {
        font-size: larger;
    }
    .logo img {
        width: 60px; /*fixme: make logo bigger, maybe 60px?*/
    }
}


/*================================================================================================*/
/*End of Global section*/
/*================================================================================================*/

/*================================================================================================*/
/*Beginning of Index section*/
/*================================================================================================*/

#intro-title-paragraph {
    width: 100%;
    margin: 0 auto;

    padding: 0 1vw;
    background-color: white; /*was ff4740*/
    color: #333;
    /*background-image: url("compressedPhotos/posingatfirefightermemorial.jpeg"); !*trying a different background image*!*/
    /*background-image: url("compressedPhotos/firefighterInSmoke Large.jpeg");*/
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 100%),
    url('compressedPhotos/firefighterInSmoke Large.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 5px;
    min-height: 650px;
}

#introParagraph {
    /*color: #333333; !* Dark gray text color for high contrast on white background *!*/
    color: navajowhite;
    font-size: 2em; /* Large text size for better visibility */
    font-weight: bold; /* Bold font to make the text prominent */
    text-align: center; /* Centers the text horizontally */
    margin: 30px 7vw; /* Margin to center the paragraph and provide vertical spacing */
    /*padding: 20px 0; !*padding to provide space for lines*!*/
    position: relative ;
    transition: all 0.3s ease; /* Smooth transition for shadow changes */

    background-color: rgba(0, 0, 0, 0.5); /* Transparent gray background */
    padding: 20px; /* Padding inside the box */
    /*text-align: center; !* Center the text *!*/
    border-radius: 10px; /* Optional: Rounded corners */
    display: inline-block; /* Ensures the box wraps the content tightly */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

#introParagraph:before,
#introParagraph:after {
    content: ""; /* Required for pseudo-elements */
    position: absolute; /* Absolute positioning relative to the paragraph */
    left: 0; /* Aligning to the far left */
    right: 0; /* Aligning to the far right */
    height: 0px; /* Thin line */ /* made it 0 to get rid of line for now */
    background-color: #ff0000; /* Red color for the lines */
    transition: all 0.3s ease; /* Smooth transitions for hover effects */
}

#introParagraph:before {
    top: -10px; /*position line at top of paragraph*/
}

#introParagraph:after {
    bottom: -10px; /*position line at bottom of paragraph*/
}

#introParagraph:hover:before,
#introParagraph:hover:after {
    background-color: #ff6347;
}


#introParagraph:hover {
    text-shadow: 4px 4px 8px rgba(94, 84, 35, 0.7); /* Enhanced shadow on hover for a dynamic effect */
}

#backgroundphoto {
    background-image: url("compressedPhotos/firefighterInSmoke Large.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 100; /*for the purpose of a transparent background image*/
}

#backgroundphotoH1 {
    color: navajowhite;
    /*color: #e3242b;*/
    /*padding-top: 20px;*/
    /*text-shadow:*/
    /*        -1px -1px 0 black,*/
    /*        1px -1px 0 black,*/
    /*        -1px 1px 0 black,*/
    /*        1px 1px 0 black;*/

    background-color: rgba(0, 0, 0, 0.5); /* Transparent gray background */
    /*color: white; !* Text color *!*/
    padding: 20px; /* Padding inside the box */
    text-align: center; /* Center the text */
    border-radius: 10px; /* Optional: Rounded corners */
    display: inline-block; /* Ensures the box wraps the content tightly */
    /*margin-top: 20px;*/
    margin: 20px 12vw;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

#backgroundphotoH1:hover{
    text-shadow: 4px 4px 8px rgba(94, 84, 35, 0.7); /* Enhanced shadow on hover for a dynamic effect */

}

.events h1 {
    /*margin-top: 5vh;*/
    color: navajowhite;
    /*background-color: rgba(0, 0, 0, 0.5); !* Transparent gray background *!*/
    /*padding: 20px; !* Padding inside the box *!*/
    text-align: center; /* Center the text */
    border-radius: 10px; /* Optional: Rounded corners */
    /*display: inline-block; !* Ensures the box wraps the content tightly *!*/
    /*margin-top: 20px;*/
    margin: 2vw 2vw;
    /*text-decoration: underline overline #8f7e6a;*/
    /*text-decoration-thickness: 5px ;*/
    border-bottom: 5px solid #8f7e6a;
    border-top: 5px solid #8f7e6a;
    padding: 20px 3px 3px 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Enhanced shadow on hover for a dynamic effect */

}

.event h3 {
    text-decoration: underline;
}
.mini-gallery-background {
    /*background-image: url("compressedPhotos/americanflag.jpeg");*/
    border-radius: 5px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 100%),
    url('compressedPhotos/americanflag.jpeg');

}

#mini-gallery-title h1 {
     color: #ffe1b4;
    /*color: navajowhite;*/
    /*background-color: rgba(0, 0, 0, 0.1); !* Transparent gray background *!*/
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .3) 50%, rgba(0, 0, 0, 0) 100%);
    /*color: white; !* Text color *!*/
    /*padding: 20px; !* Padding inside the box *!*/
    text-align: center; /* Center the text */
    border-radius: 10px; /* Optional: Rounded corners */
    /*display: inline-block; !* Ensures the box wraps the content tightly *!*/
    /*margin-top: 20px;*/
    margin: 2vw 2vw;

    border-bottom: 5px solid #8f7e6a;
    border-top: 5px solid #8f7e6a;
    /*border-left: 5px solid #8f7e6a;*/
    /*border-right: 5px solid #8f7e6a;*/
    padding: 20px 3px 3px 20px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7); /* Enhanced shadow on hover for a dynamic effect */

}

.event-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns on desktop */
    gap: 20px;  /*Spacing between grid items */
    margin: 20px 5%;
}

.event img {
    width: 100%; /* Make the image responsive */
    height: auto ; /* Maintain aspect ratio was auto*/
    object-fit: cover;
    border-radius: 40px;
    justify-content: center ;
}

.event p {
    padding: 10px; /* Padding around the text for better readability */
}

.mini-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 250px;
    gap: 10px;
    width: 90%;
    margin: 20px auto 0;
    padding-bottom: 20px;
}

.mini-gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform .3s ease-in-out;
}

.mini-gallery img:hover{
    transform: scale(1.1);
}

/* Responsive adjustments for smaller screens */
@media (max-width: 800px) {
    .event-grid {
        grid-template-columns: 1fr; /* Stack the grid items on top of each other on small screens */
    }

    .event img {
        max-height: none;
    }

    #introParagraph {
        font-size: large;
    }
}

/*================================================================================================*/
/*end of index section*/
/*================================================================================================*/

/*================================================================================================*/
/*beginning of About Us section*/
/*================================================================================================*/


.boxaboutUs {
    width: 100%;
    margin: 0 auto;
    /*padding: 0 20px; !*trying not having the padding*!*/
    padding: 0; /*i think i like the change in padding, just need to add padding to event on index*/
    background-color: white;/*was ff4740 */
    /*opacity: .8;*/ /*removed to fix issues with background photo and foreground effect*/
}
.aboutus{
    width: 90%;
    margin: 0 auto;
    padding: 0 1vw;
    background-color: white; /*was ff4740*/
    color: #333;
}
.aboutus h1 {
    padding-top: 20px;
}

#about-page-info h1, h2 {
    padding-top: 2vh;
    color: #5C5C5C;
}



/*================================================================================================*/
/*end of About Us section*/
/*================================================================================================*/

/*================================================================================================*/
/*Beginning of Peer Support section*/
/*================================================================================================*/

.peerSupportTitle{
    color: #5C5C5C;
    margin-right: 20px;
    margin-left: 20px;
}

.peerSupportTitle h1 {
    padding-top: 20px;
}

.PeerSupportMembers h3 {
    border-bottom: 2px solid currentColor;
    line-height: 1.2; /* Adjust line height to create more space */
    padding-bottom: 4px; /* Increase padding if necessary */
    margin-left: 30vw;
    margin-right: 30vw;
    margin-bottom: 10px;
}

.PeerSupportMembers img{
    height: auto;
    width: auto;
    max-width: 125px;
    max-height: 150px;
    border-radius: 10%;
}

.horizontal-list {
    display: flex; /* Use flexbox */
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    justify-content: center;
}

.horizontal-list li {
    margin-right: 10px; /* Space between items */
    font-size: 18px;
}

/* Optional: Remove last margin */
.horizontal-list li:last-child {
    margin-right: 0;
}

/* Media query for mobile devices */
@media (max-width: 900px) {
    .horizontal-list {
        display: grid; /* Use CSS Grid */
        grid-template-columns: 1fr 1fr; /* Two columns */
        gap: 10px; /* Space between items */
        justify-items: center; /* Center items horizontally */
    }

    .horizontal-list li {
        margin-right: 0; /* Remove right margin */
        margin-bottom: 10px; /* Add bottom margin for spacing */
    }

    .horizontal-list li:nth-child(2n) {
        margin-right: 0; /* Remove right margin for every second item */
    }

    .PeerSupportMembers h3 {
        margin-left: 15%;
        margin-right: 15%;
    }
}

.peerSupportResources {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.peerSupportItem {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.peerSupportItem:hover {
    transform: scale(1.05);
}

.peerSupportItem h3 {
    margin-top: 0;
}

.peerSupportItem p {
    margin: 0;
}

.peerSupportItem a {
    color: #007BFF;
    text-decoration: none;
}

.peerSupportItem a:hover {
    text-decoration: underline;
}

/*================================================================================================*/
/*end of Peer Support section*/
/*================================================================================================*/

/*================================================================================================*/
/*Start of recruitment section*/
/*================================================================================================*/


/*This is the original*/
/*.hiringInformation{*/
/*    background-color: white;!*was ff4740 *!*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    text-align: center;*/
/*    box-sizing: border-box;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*}*/

/*this is original*/
/*#hiringSalaries{*/
/*    width: 48%;*/
/*    box-sizing: border-box;*/
/*    flex: 50%;*/
/*    align-self: flex-start;*/
/*}*/

/*this is original*/
/*#hiringVideo{*/
/*    width: 48%;*/
/*    box-sizing: border-box;*/
/*    flex: 50%;*/
/*}*/

/*not original*/
.hiringInformation {
    background-color: white;
    display: flex;
    /*flex-direction: row; !* Horizontal layout by default *!*/
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/*not original*/
#hiringVideo, #hiringSalaries {
    width: 48%; /* Each item takes up half the space by default */
    box-sizing: border-box;
    flex: 1; /* Allow items to grow and shrink as needed */
}

/*original*/
#hiringVideo iframe{
    width: 95%;
    aspect-ratio: 1/1;
    /*border: 0;*/
    border-radius: 5%;
}

#hiringVideo h1 {
    /*text-decoration: underline;
    text-decoration-skip-ink: none;*/
    border-bottom: 2px solid currentColor;
    line-height: 1.2; /* Adjust line height to create more space */
    padding-bottom: 4px; /* Increase padding if necessary */
    margin: 10px;
    color: #5C5C5C;
}

/*original*/
#hiringSalaries img {
    height: 50%;
    width: 70%;
    border-radius: 5%;
}

/*original*/
#hiringSalaries h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    text-decoration: underline;
    color: #5C5C5C;
}

/*original*/
#hiringSalaries h2{
    text-align: center;
    margin-top: 0;
    color: #5C5C5C;
}

/*original*/
#lean-more-button {
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    /*original*/
    /*.hiringInformation{*/
    /*    flex-direction: column;*/
    /*    align-items: center;*/
    /*    width: 100%;*/
    /*    margin: 0;*/
    /*    padding: 0;*/
    /*}*/
    /*#hiringVideo{*/
    /*    width: 100%;*/
    /*    !*margin: 10px 10px 10px 10px;*!*/
    /*}*/
    /*#hiringVideo iframe{*/
    /*    width: 100%;*/
    /*    aspect-ratio: 1/1;*/
    /*    !*border: 0;*!*/
    /*}*/
    /*!* original*!*/
    /*!*#hiringSalaries img{*!*/
    /*!*    width: 100%;*!*/
    /*!*    height: auto;*!*/
    /*!*    border-radius: 5%;*!*/
    /*!*}*!*/
    /*#hiringSalaries{*/
    /*    width: 100%;*/
    /*    margin: 10px auto;*/
    /*    text-align: center;*/
    /*}*/

    .hiringInformation {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    #hiringVideo, #hiringSalaries {
        width: 90%; /* Flex items take full width */
        margin: 10px auto; /* Optional: Vertical spacing between items */
        max-width: 100%;
    }

    #hiringVideo iframe, #hiringSalaries img {
        width: 100vw; /* Ensure iframe and image take full width */
        height: auto; /* Maintain aspect ratio for images */
        border-radius: 5%; /* Optional: Consistent border radius */
        max-width: 100%;
    }
}
/*================================================================================================*/
/*end of recruitment section*/
/*================================================================================================*/

/*================================================================================================*/
/*Beginning of Leadership section*/
/*================================================================================================*/


.leadershipGallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    /*background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%),*/
    /*url('compressedPhotos/scrolls Medium.jpeg');*/
    /*background-image: url("compressedPhotos/scrolls Medium.jpeg");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*margin: 0;*/
}

#leadership-title {
    color: #5C5C5C;
    position: relative;
    margin: 20px 7vw;
    text-align: center;
    /*background-color: rgba(0, 0, 0, 0.5); !* Transparent gray background *!*/
    /*!*color: white; !* Text color *!*!*/
    /*padding: 20px; !* Padding inside the box *!*/
    /*text-align: center; !* Center the text *!*/
    /*border-radius: 10px; !* Optional: Rounded corners *!*/
    /*display: inline-block; !* Ensures the box wraps the content tightly *!*/
    /*!*margin-top: 20px;*!*/
    /*margin: 20px 7vw;*/

    /*margin: 2vh 5vw;*/

}

#leadership-title:before,
#leadership-title:after {
    content: ""; /* Required for pseudo-elements */
    position: absolute; /* Absolute positioning relative to the paragraph */
    left: 0; /* Aligning to the far left */
    right: 0; /* Aligning to the far right */
    height: 2px; /* Thin line */ /* made it 0 to get rid of line for now */
    background-color: #ff0000; /* Red color for the lines */
    transition: all 0.3s ease; /* Smooth transitions for hover effects */
}

#leadership-title:before {
    top: -10px; /*position line at top of paragraph*/
}

#leadership-title:after {
    bottom: -10px; /*position line at bottom of paragraph*/
}

#leadership-title:hover:before,
#leadership-title:hover:after {
    background-color: #ff6347;
}

.president{
    margin-bottom: 20px;
    margin-top: 20px;
}

.vp-treasurer {
    display: flex;
    justify-content: center;
    gap: 250px;
}

.vp-treasurer p{
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.vp-treasurer h2{
    white-space: nowrap;
}

.vp-treasurer > div {
    flex: 1;
}

.leadershipGallery img {
    width: 100%;
    max-width: 150px;
    height: 300px; /* Set a fixed height to create a zoom effect */
    object-fit: cover; /* This will make the image cover the container */
    object-position: center; /* Center the image within the container */
    border-radius: 10%; /* Ensure images are not oval */
    transition: transform .3s ease-in-out;
}

.leadershipGallery img:hover{
    transform: scale(1.1);
}

@media (max-width: 700px) {
    .vp-treasurer {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .vp-treasurer > div {
        margin-bottom: 20px;
    }
}

/*================================================================================================*/
/*end of Leadership section*/
/*================================================================================================*/

/*================================================================================================*/
/*Beginning of Gallery section*/
/*================================================================================================*/


.Gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 250px;
    gap: 10px;
    width: 90%;
    margin: 20px auto;
}

.Gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform .3s ease-in-out;
}

.Gallery img:hover{
    transform: scale(1.1);
}

/*================================================================================================*/
/*end of Gallery section*/
/*================================================================================================*/
